@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

@font-face {
	font-family: 'Replica-Regular';
	src: url('../fonts/Replica_Regular.ttf') format('woff'),
		url('../fonts/Replica_Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Replica-Bold';
	src: url('../fonts/Replica_Bold.ttf') format('woff'),
		url('../fonts/Replica_Bold.ttf') format('truetype');
}

