// Colors from https://www.torontomu.ca/content/dam/web-support/web-style-guide/Ryerson_Web-Style-Guide-201701-DP-edit-custom.pdf , Page 10

/*

    Colors with multiple shades follow the convention: <[color]-[dark|light-[1|2|3]]>
*/

$blue-dark: #002D72;
$blue: #004C9B;
$blue-light: #0077C8;
$blue-light-1: #00A9EF;
$blue-light-2: #5BC2F4;

$gold: #FFDC00;
$gold-light: #FFEE00;

$gray-dark: #999999;
$gray-light: #D9D9D9;

$orange: #FFA300;
$orange-light: #FFC609;

$green: #009A44;

