@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

html {
	font-family: "Oswald", sans-serif;
}

.screen-overlay-left {
	position: absolute;
	left: 4rem;
	height: 100%;
	z-index: 900;
}

.screen-overlay-full {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.mobile-screen {
	background: rgba(0, 0, 0, 0.8);
	font-size: 4rem;
	color: white;
}

.progress-element {
	border-radius: 20rem;
	transition: 0.2s;
}

.enter-button {
	padding: 32px;
	border-radius: 20rem;
	transition: 0.2s;
}

.enter-button:hover {
	background: black;
	color: white;
	cursor: pointer;
}

.screen-overlay-right {
	position: absolute;
	right: 2rem;
	top: 4rem;
	width: 14rem;
	bottom: 4rem;
	border-radius: 1rem;
	z-index: 900;
	padding: 2rem;
	background: url("../public/infoBackground.png");
	font-size: 1.2rem;
}

.scrollable-body {
	overflow-y: scroll;
	height: 16rem;
}
.txt-sm {
	font-size: 1.25rem;
}

.txt-lg {
	font-size: 3rem;
}

.txt-md {
	font-size: 2rem;
}
.txt-bold {
	font-weight: 600;
}
.info-option {
	text-decoration: none;
	letter-spacing: 4px;
	color: #003594;
}

.info-option:hover {
	text-decoration: underline;
	cursor: pointer;
}

.row {
	display: flex;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

@keyframes logoAnim {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loader-icon {
	transform: rotate(0deg);
	animation-name: logoAnim;
	animation-duration: 1s;
	animation-repeat: infinite;
}
