@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

html {
	font-family: "Oswald", sans-serif;
}

.screen-overlay-left {
	position: absolute;
	left: 4rem;
	height: 100%;
	z-index: 999;
}

.screen-overlay-right {
	position: absolute;
	right: 2rem;
	top: 4rem;
	width: 12%;
	bottom: 4rem;
	border-radius: 1rem;
	z-index: 999;
	padding: 2rem;
	background: url("../public/infoBackground.png");
	font-size: 1.2rem;
}

.txt-sm {
	font-size: 1rem;
}

.txt-lg {
	font-size: 3rem;
}

.txt-md {
	font-size: 2rem;
}

.info-option {
	text-decoration: none;
	letter-spacing: 4px;
}

.info-option:hover {
	text-decoration: underline;
	cursor: pointer;
}
